<link rel="stylesheet" href="/static/css/jobs.css">

<div class="jobPage">
    <h1 style="text-align: center;">Land Your Ideal Job with Us Today</h1>
    <div style="  display: flex;
  justify-content: center;
  align-items: center;">
     <form action="/jobs" method="GET" class="search-container">
        <input type="search" class="search" name="search" placeholder="Search Jobs" value="{{searchTerm}}">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>  
    </div>

    {{#if message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
   
   
     {{#if searchMessage}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{searchMessage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    

    <div class="jobCardContainer">
        
        {{#each jobs}}
        <div class="row">  
            {{#each this}}
            <div class="col">
                <div class="card">
                    <div class="imageSection">
                        <img src="/static/images/{{this.image}}" class="card-img-top" alt="no image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.job_name}}</h5>
                        <p class="card-text"><strong>Salary: </strong>{{this.salary}}</p>
                        <p class="card-text"><strong>Job Type: </strong>{{this.job_type}}</p>
                        <p class="card-text"> {{this.description}}</p><br>

                        <form action="/apply" method="post">

                            <input type="hidden" value="{{this.id}}" name="job_id">
                            <input type="hidden" value="{{this.company_id}}" name="company_id">
                            <input type="hidden" value="{{this.user_id}}" name="user_id">

                            <button type="submit" class="btn btn-primary">Apply Now</button>
                            

                        </form>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
 {{else}}
        <h2>Searched Job Not Available</h2>
        {{/each}}
       

    </div>
    






    <div class="pagination" style="margin-bottom: 20px;">
        {{#ifEqSmaller currentPages}}
         <a href="#" class="pagination-link">&laquo; Previous</a>
        {{else}}
  <a href="/jobs?offset={{ dec currentPages }}" class="pagination-link">&laquo; Previous</a>
  {{/ifEqSmaller}}
  
  <span class="current-page">{{ inc currentPages  }}</span>

  {{#ifEqGreater currentPages totalPageCount }}
  
  {{else}}
  <a href="/jobs?offset={{ inc currentPages }}" class="pagination-link">Next &raquo;</a>
  {{/ifEqGreater}}
</div>

     
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>